Repository ImazighenHub/adlis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix

.lintstagedrc:

{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{css,scss,less,styl,stylus}": [
        "stylelint --fix"
    ],
    "*/**/*.{json,md}": [
        "prettier --write"
    ]
}

fix(config): resolve ESLint ConfigError caused by redundant @typescript-eslint plugin
  eslint.config.mjs
Due: none

fix(config): fix commitizen configuration
  .husky/prepare-commit-msg
Due: none

chore: update prettier.xml configuration for IntelliJ IDEA
  .idea/prettier.xml
Due: none

feat: add custom fonts for project styling
  src/assets/fonts/BebasNeue-Regular.ttf
  src/assets/fonts/IBMPlexSans-Bold.ttf
  src/assets/fonts/IBMPlexSans-BoldItalic.ttf
  src/assets/fonts/IBMPlexSans-ExtraLight.ttf
  src/assets/fonts/IBMPlexSans-ExtraLightItalic.ttf
  src/assets/fonts/IBMPlexSans-Italic.ttf
  src/assets/fonts/IBMPlexSans-Light.ttf
  src/assets/fonts/IBMPlexSans-LightItalic.ttf
  src/assets/fonts/IBMPlexSans-Medium.ttf
  src/assets/fonts/IBMPlexSans-MediumItalic.ttf
  src/assets/fonts/IBMPlexSans-Regular.ttf
  src/assets/fonts/IBMPlexSans-SemiBold.ttf
  src/assets/fonts/IBMPlexSans-SemiBoldItalic.ttf
  src/assets/fonts/IBMPlexSans-Thin.ttf
  src/assets/fonts/IBMPlexSans-ThinItalic.ttf
  src/styles/fonts.ts
Due: prettier --write, eslint --fix, eslint

chore: update eslint.xml configuration for IntelliJ IDEA
  .idea/jsLinters/eslint.xml
Due: none

feat(styling): configure tailwind with fonts, colors, and breakpoints
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

chore(eslint): migrate from .eslintignore to ignores property in eslint.config.js
  .eslintignore
  eslint.config.mjs
Due: none

chore: update configuration for IntelliJ IDEA
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/prettier.xml
Due: none

chore: remove prettier-plugin-tailwindcss from .prettierrc
  .prettierrc
Due: none

feat(styling): add different configs for styling
  src/assets/fonts/NotoSansTifinagh-Regular.ttf
  src/styles/fonts.ts
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

chore(eslint): update eslint config
  eslint.config.mjs
Due: none

chore: rename utils.ts to classNames.ts for consistency
  src/lib/utils.ts
  src/lib/utils/classNames.ts
  src/lib/utils/index.ts
Due: prettier --write, eslint --fix, eslint

chore: update tailwind config for IDE
  .idea/tailwindcss.xml
Due: none

feat(components): add button component
  src/components/ui/button.tsx
  src/components/ui/index.ts
Due: prettier --write, eslint --fix, eslint

feat(homepage): prepare homepage
  src/app/(root)/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix, eslint

feat(homepage): add Header component
  src/components/Header/Header.tsx
  src/components/Header/ScrollHeader/ScrollHeader.tsx
  src/components/Header/ScrollHeader/index.ts
  src/components/Header/index.ts
  src/components/index.ts
  src/lib/hooks/index.ts
  src/lib/hooks/useScrollStatus.ts
Due: prettier --write, eslint --fix, eslint

feat(homepage): add main layout
  public/images/bg.svg
  src/app/(root)/layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(homepage): add switch to toggle dark/light mode
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/Header/Header.tsx
  src/components/Header/ScrollHeader/ScrollHeader.tsx
  src/components/ThemeToggle/ThemeToggle.tsx
  src/components/ThemeToggle/index.ts
  src/components/index.ts
  src/components/ui/button.tsx
  src/components/ui/index.ts
  src/components/ui/toggle-group.tsx
  src/components/ui/toggle.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

feat(homepage): add footer
  src/app/(root)/layout.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
Due: prettier --write, eslint --fix, eslint

feat(i18n): add Internationalization support
  messages/en.json
  messages/fr.json
  messages/zgh.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/(root)/layout.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/BaseLayout/BaseLayout.tsx
  src/components/BaseLayout/index.ts
  src/components/Footer/Footer.tsx
  src/components/index.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/middleware.ts
Due: prettier --write, eslint --fix, eslint

feat(components): add select and dropdown components
  package.json
  pnpm-lock.yaml
  src/components/ui/dropdown-menu.tsx
  src/components/ui/index.ts
  src/components/ui/select.tsx
Due: prettier --write, eslint --fix, eslint

chore(config): add svg support
  next.config.ts
  package.json
  pnpm-lock.yaml
  svgr.d.ts
  tsconfig.json
Due: none

refactor(i18n): refactor i18n config
  src/i18n/request.ts
  src/i18n/routing.ts
Due: prettier --write, eslint --fix, eslint

feat(i18n): add LocaleSwitcher
  messages/en.json
  messages/fr.json
  messages/zgh.json
  src/app/[locale]/layout.tsx
  src/app/page.tsx
  src/assets/flags/en_flag.svg
  src/assets/flags/fr_flag.svg
  src/assets/flags/index.ts
  src/assets/flags/zgh_flag.svg
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/LocaleSwitcher/LocalSwitcher.helpers.ts
  src/components/LocaleSwitcher/LocalSwitcherFlag.tsx
  src/components/LocaleSwitcher/LocaleSwitcher.tsx
  src/components/LocaleSwitcher/LocaleSwitcherSelect.tsx
  src/components/LocaleSwitcher/index.ts
  src/components/ThemeToggle/ThemeToggle.tsx
  src/components/index.ts
  src/components/ui/button.tsx
  src/components/ui/select.tsx
  src/i18n/routing.ts
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style: load font depending on locale
  src/components/BaseLayout/BaseLayout.tsx
  src/styles/fonts.ts
Due: prettier --write, eslint --fix, eslint

feat(homepage): add book overview section
  messages/en.json
  messages/fr.json
  messages/zgh.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  public/images/book-1.png
  public/images/book-2.png
  public/images/ismawen.png
  src/app/[locale]/page.tsx
  src/components/BookCover/BookCover.helpers.ts
  src/components/BookCover/BookCover.tsx
  src/components/BookCover/BookCoverSvg.tsx
  src/components/BookCover/index.ts
  src/components/BookList/BookList.tsx
  src/components/BookList/index.ts
  src/components/BookOverview/BookOverview.tsx
  src/components/BookOverview/index.ts
  src/components/Header/Header.tsx
  src/components/index.ts
  src/constants/data.ts
  src/types/book.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, eslint

feat(homepage): add new publications section
  messages/en.json
  messages/fr.json
  messages/zgh.json
  src/app/[locale]/page.tsx
  src/components/BookCard/BookCard.tsx
  src/components/BookCard/index.ts
  src/components/BookCover/BookCover.helpers.ts
  src/components/BookList/BookList.tsx
  src/components/BookOverview/BookOverview.tsx
  src/components/index.ts
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix, eslint

fix(styling): fix shadows
  src/components/ui/button.tsx
  src/components/ui/select.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

fix(styling): disable user selection on buttons
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix, eslint

fix(styling): disable user selection book cover
  src/components/BookCover/BookCover.tsx
  src/components/BookOverview/BookOverview.tsx
Due: prettier --write, eslint --fix, eslint

fix(components): resolve TS warnings in Button component
  src/components/ui/button.tsx
  src/components/ui/tooltip.tsx
Due: prettier --write, eslint --fix, eslint

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: none
